{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    {% include 'partials/datatable_css_includes.html' %}
{% endblock %}

{% block js %}
    {% include 'partials/datatable_js_includes.html' %}
{% endblock %}
{% block content %}
  <table class="table table-bordered" id="client_results">
    <thead>
      <tr>
        <th>Name</th>
        <th>Area</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr>
          <td><a href="{{ client.get_absolute_url }}">{{ client.get_full_name }}</a></td>
          <td>
            {% with client.address.all|first as address %}
              {{ address }}
            {% endwith %} </td>
          <td>{{ client.age }}</td>
          <td>{{ client.email_address|urlize }}</td>
          <td>
            {% for telephone in client.telephone.all %}
              {{ telephone.number }} ({{ telephone.get_type_display }})
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}