{% extends "common/datatable_base.html" %}
{% block content %}
  <table class="table table-bordered" id="client_results">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr>
          <td><a href="{{ client.get_absolute_url }}">{{ client.get_full_name }}</a></td>
          <td>{{ client.age }}</td>
          <td>{{ client.email_address|urlize }}</td>
          <td>Still to be built</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}