.con_add_details
{
    border:1px solid gray;
    margin-top:30px;
    padding: 15px;
}
.con_tio_details
{
    margin-top:30px;
}
.con_add_details td {
    padding-top: 10px;
}
.con_add_details_head
{
    font-size:1.2em;
}