{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/form_helper/formset_manage.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form_helper/form_handlers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form_helper/confirm_bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/manage_client.js' %}"></script>
{% endblock %}
{% block content %}
    {% if form_errors %}
        <div class="alert alert-block alert-danger">
          <ul>
            {% for value in form_errors %}
              <li>{{ value }}</li>
            {% endfor %}
          </ul>
        </div>
    {% endif %}
    <form action="{{ the_action }}" method="POST" id="client_edit_form">
        {% load crispy_forms_tags %}
        {% crispy form %}
        <div id="address" class="tab-pane">
            {% crispy address_form %}
        </div>
        <div id="notes" class="tab-pane">
            {% crispy notes_form_set note_helper %}
        </div>
    </form>

{% endblock %}