{% extends 'base.html' %}

{% block content %}
    {% for error in errors %}
      <div class="alert  alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ error }}
      </div>
    {% endfor %}
    <!--<div class="json_client">-->
      <!--{% for client in json_clients %}-->
        <!--<li>{{ client }}</li>-->
      <!--{% endfor %}-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="client">-->
      <!--{% for item in items %}-->
        <!--<li>{{ item }}</li>-->
      <!--{% endfor %}-->
      <!--</ul>-->
    <!--</div>-->
{% endblock %}