{% load common_extras %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Client Management</a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Profile</a></li>
        {% if request.user|has_group:settings.ADMIN_GROUP %}
          <li><a href="/admin">Admin</a></li>
        {% endif %}
        {% if request.user|has_group:settings.JOB_COACH %}
          <li><a href="/client_list">Client List</a></li>
          <li><a href="{% url 'client_new' %}">Add Client</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="{% url 'client_man_logout' %}">Log out {{ user.username }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>