{% load staticfiles %}
{% load common_extras %}
<table class='con_tio_details'>
    <tr>
        <td>{{ contract.partner|get_partner_logo }}</td>
        <td><img style="float:right;" src="{% static 'img/logo_small.jpg' %}"/></td>
    </tr>
</table>
<h2>{{ contract.get_full_type }}</h2>
<h5>{{ contract.get_latest_status.get_status_display }}</h5>

<table class='con_main_details'>
    <tr>
        <td class="print_label">Title</td>
        <td>{{ client.get_title_display }}</td>
        <td class="print_label">Area</td>
        <td>{{ client.address.get_area_display }}</td>
    </tr>
    <tr>
        <td class="print_label">Firstname</td>
        <td>{{ client.forename }}</td>
        <td class="print_label">Qualifications</td>
        <td>{{ client.get_education_display }}</td>
    </tr>
    <tr>
        <td class="print_label">Surname</td>
        <td>{{ client.surname }}</td>
        <td class="print_label">Length of time unemployed</td>
        <td>{{ client.get_time_unemployed_display }}</td>
    </tr>
    <tr>
        <td class="print_label">DOB</td>
        <td>{{ client.dob }}</td>
        <td class="print_label">Ethnicity</td>
        <td>{{ client.get_ethnicity_display }}</td>
    </tr>
    <tr>
        <td class="print_label">Start date</td>
        <td>{{ contract.start_date }}</td>
        <td class="print_label">End date</td>
        <td>{{ contract.end_date }}</td>
    </tr>
</table>
<table class='con_tio_details'>
    <tr>
        <td class="print_label">Adult 18+ with</td>
        <td>{{ contract.get_issue_display }}</td>
        <td class="print_label">Consent form complete? {{ contract.consent_form_complete|render_checkbox }}</td>
    </tr>
</table>
<div class='con_add_details'>
    <table>
        <tr>
            <td class="con_add_details_head print_label">JSA claimants 18-24 (less than 9 months)</td>
        </tr>
        <tr>
            <td class="print_label">{{ contract.get_aa_progress_jsa_18_display|render_checkbox }}Progressing from Activity Agreements</td>
        </tr>
        <tr>
            <td class="print_label">{{ contract.get_add_support_jsa_18_display|render_checkbox }}In need of additional support with health and personal confidence issues</td>
        </tr>
    </table>
</div>
<div class='con_add_details'>
    <table>
        <tr>
            <td class="con_add_details_head print_label">JSA claimants over 25 (less than 12 months)</td>
        </tr>
        <tr>
            <td class="print_label">{{ contract.add_support_jsa_25|render_checkbox }}In need of additional support with health and personal confidence issues</td>
        </tr>
    </table>
</div>
<div class='con_add_details'>
    <table>
        <tr>
            <td class="con_add_details_head print_label">Incapacity Benefit</td>
        </tr>
        <tr>
            <td class="print_label">{{ contract.wca_incapacity|render_checkbox }}Prior to WCA</td>
        </tr>
    </table>
</div>
{% include 'partials/force_page_break.html' %}
<div class='con_add_details'>
    <table>
        <tr>
            <td class="con_add_details_head print_label">ESA</td>
        </tr>
        <tr>
            <td class="print_label">{{ contract.support_esa|render_checkbox }}Support Group Category</td>
        </tr>
        <tr>
            <td class="print_label">{{ contract.wrag_esa|render_checkbox }}W.R.A.G (less than 3 months sustained employment in the last 3 yrs)</td>
        </tr>
    </table>
</div>
<div class='con_add_details'>
    <table>
        <tr>
            <td class="con_add_details_head print_label">Income Support</td>
        </tr>
        <tr>
            <td class="print_label">{{ contract.emp_pros_inc|render_checkbox }}To improve employment prospects</td>
        </tr>
    </table>
</div>
<div class='con_add_details'>
    <table>
        <tr>
            <td class="con_add_details_head print_label">Other Benefits</td>
        </tr>
        <tr>
            <td>{{ contract.other_ben }}</td>
        </tr>
    </table>
</div>
<div class='con_add_details'>
    <table>
        <tr>
            <td class="con_add_details_head print_label">Fund Manager Notes</td>
        </tr>
        <tr>
            <td>{{ contract.fund_mgr_notes }}</td>
        </tr>
    </table>
</div>
<div id='approval_block'>
    <table>
        <tr>
            <td class="print_label_with_suff">Info Manager</td>
            <td colspan="2">{{ contract.modified_by }}</td>
            <td class="print_label_with_suff">Accepted Date</td>
            <td colspan="2">{{ contract.get_info_man_acceptance_date }}</td>
        </tr>
        <tr>
            <td class="print_label_with_suff">Fund Manager Contact</td>
            <td>{{ contract.partner }}</td>
            <td class="print_label_with_suff">Contact Date</td>
            <td>{{ contract.get_fund_man_contact_date }}</td>
            <td class="print_label_with_suff">Approved Date</td>
            <td>{{ contract.get_fund_man_approval_date }}</td>
        </tr>
    </table>
</div>