{% load common_extras %}
<nav class="navbar navbar-default navbar-static-top" id="main_menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Client Management</a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar" data-hover="dropdown">
      <ul class="nav navbar-nav">
        <li><a href="/">Profile</a></li>
        {% if request.user|has_group:settings.ADMIN_GROUP %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
            <ul class="dropdown-menu dropdownhover-top">
          <li><a href="/admin">Admin Screens</a></li>
            <li><a href="{% url 'load_clients' %}">Create clients from json file</a></li>
            <li><a href="{% url 'load_contracts' %}">Create contracts from json file</a></li>
            <li><a href="https://backoffice.shirlie.co.uk/interface/get/client/all">Generate clients json file</a></li>
            <li><a href="https://backoffice.shirlie.co.uk/interface/get/contract/all">Generate contracts json file</a></li>
            <li><a href="https://backoffice.shirlie.co.uk/interface/get/tiodetail/all">Generate tio detail json file</a></li>
            </ul>
          </li>
        {% endif %}
        {% if request.user|has_group:settings.JOB_COACH or request.user|has_group:settings.JOB_COACH_MAN %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client<span class="caret"></span></a>
            <ul class="dropdown-menu dropdownhover-top">
            <li><a href="{% url 'client_search' %}">Client Search</a></li>
            <li><a href="{% url 'client_new' %}">Add Client</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="{% url 'client_man_logout' %}">Log out {{ user.username }}</a>
        </li>
      </ul>
      <div class="navbar-form navbar-right">
          <input title="select a client to edit" type="text" class="form-control autocomplete" placeholder="client id or name" id="quick_client">
      </div>
    </div>
  </div>
</nav>