{% load staticfiles %}
<hr/>
<table class='footer'>
    <tr>
        <td style="width:10%;"><img src="{% static 'img/logo_small.jpg' %}"/></td>
        <td style="width:80%;font-size:0.8em;font-style:italic;">
            <ul style="list-style:none;text-align:right;">
                <li>The Shirlie Project</li>
                <li>Supporting all people to achieve their ambition and gain employment</li>
                <li>We believe in people and support them to achieve their aims</li>
            </ul>
        </td>
    </tr>
</table>