{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/contract_edit.css' %}">
{% endblock %}

{% block js %}
    {% include 'partials/inject_js_data.html' %}
    {% include 'partials/form_edit_js_includes.html' %}
    {% include 'partials/datepicker_js_includes.html' %}
    <script type="text/javascript" src="{% static 'js/contract_helpers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contract_edit.js' %}"></script>
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <form action="{{ the_action }}" method="POST" id="contract_edit_form" class="contract_details">
        {% crispy form %}
    </form>

{% endblock %}