{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/contract_edit.css' %}">
{% endblock %}

{% block js %}
    <!--https://github.com/snikch/jquery.dirtyforms-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.dirtyforms/2.0.0/jquery.dirtyforms.min.js"></script>
    <script type="text/javascript" src="{% static 'js/form_helper/formset_manage.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form_helper/form_handlers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form_helper/confirm_bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/date_helper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contract_edit.js' %}"></script>
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <form action="{{ the_action }}" method="POST" id="contract_edit_form" class="contract_details">
        {% crispy form %}
    </form>

{% endblock %}