{% extends 'base.html' %}
{% load common_extras %}
{% block title %}
    {% if config.is_edit_form %}
        Edit interview for {{ config.client.get_full_name }}
    {% else %}
        Add new interview for {{ config.client.get_full_name }}
    {% endif %}
{% endblock %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/interview_edit.css' %}">
{% endblock %}

{% block js %}
    {% include 'partials/inject_js_data.html' %}
    {% include 'partials/form_edit_js_includes.html' %}
    {% include 'partials/datepicker_js_includes.html' %}
    {% include 'partials/formset_js_includes.html' %}
    <script type="text/javascript" src="{% static 'js/interview_edit.js' %}"></script>
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <form action="{{ config.the_action }}" method="POST" id="interview_edit_form" class="interview_details">
        {% crispy form %}
        <div id="qualifications" class="tab-pane">
            <label class="control-label">Qualifications</label>
            {% crispy qual_form_set qual_helper %}
        </div>
        <div id="learning" class="tab-pane">
            {% crispy learning_form_set learning_helper %}
        </div>
        <div id="plan_train" class="tab-pane">
            {% crispy plan_train_form_set plan_train_helper %}
        </div>
        <div id="other_agencies" class="tab-pane">
            <label class="control-label">List any other agencies involved with client, include contact details</label>
            {% crispy other_agencies_form_set other_agencies_helper %}
        </div>
        <div id="other_progs" class="tab-pane">
            <label class="control-label">Has client been on any other programmes? Please list programme and provider details</label>
            {% crispy other_progs_form_set other_progs_helper %}
        </div>
    </form>

{% endblock %}