{% extends 'base.html' %}
{% load staticfiles %}

<!--https://simpleisbetterthancomplex.com/2015/12/04/package-of-the-week-django-widget-tweaks.html-->
{% load widget_tweaks %}
{% block css %}
    {% include 'partials/django_tables2_css_includes.html' %}
{% endblock %}
{% block js %}
    {% include 'partials/django_tables2_js_includes.html' %}
{% endblock %}

{% block content %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filters</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.title.label_tag }}
          {% render_field filter.form.title class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.forename.label_tag }}
          {% render_field filter.form.forename class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.surname.label_tag }}
          {% render_field filter.form.surname class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.sex.label_tag }}
          {% render_field filter.form.sex class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.year_of_birth.label_tag }}
          {% render_field filter.form.year_of_birth class="form-control" %}
        </div>
      </div>
      {% include 'partials/filter_buttons.html' %}
      <button style="float:right;" type="button" onclick="javascript:window.location='{% url 'client_new' %}';" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Client
      </button>
    </div>
  </form>
  {% load render_table from django_tables2 %}
  {% render_table table "table_with_pagination.html" %}
{% endblock %}