{% load common_extras %}
<div class="row">
    <div class="col-sm-4">
        <select name="action" class="form-control" id="id_actions">
            <option value="0">Select an action</option>
            {% if request.user|has_group:settings.JOB_COACH_MAN %}
                <option value="0">delete client</option>
            {% endif %}
            <option value="1">print client</option>
            {% if request.user|has_group:settings.JOB_COACH_MAN %}
                <option value="2">print latest client contract</option>
            {% endif %}
        </select>
    </div>
    <div class="col-sm-2">
        <button type="button" id="execute_action" class="btn btn-success">Execute</button>
    </div>
</div>