{% extends 'base.html' %}
{% block title %}
    {% if edit_form %}
        Edit client {{ client.get_full_name }}
    {% else %}
        Add new client
    {% endif %}
{% endblock %}
{% load staticfiles %}

{% block css %}
    {% include 'partials/datatable_css_includes.html' %}
    <link rel="stylesheet" href="{% static 'css/client_contract_select.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_edit.css' %}">
{% endblock %}

{% block js %}
    {% include 'partials/inject_js_data.html' %}
    {% include 'partials/datatable_js_includes.html' %}
    {% include 'partials/form_edit_js_includes.html' %}
    {% include 'partials/formset_js_includes.html' %}
    {% include 'partials/datepicker_js_includes.html' %}
    <script type="text/javascript" src="{% static 'js/contract_helpers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/client_edit.js' %}"></script>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

{% include 'client/client/client_contract_select.html' %}
<form action="{{ the_action }}" method="POST" id="client_edit_form" class="client_details">
    {% crispy form %}
    <div id="non_model_data">
        <div id="client_age">
            {{ client.age }}
        </div>
    </div>
    <div id="address" class="tab-pane">
        {% crispy address_form %}
    </div>
    <div id="phones" class="tab-pane">
        {% crispy phone_form_set phone_helper %}
    </div>
    <div id="notes" class="tab-pane">
        {% crispy notes_form_set note_helper %}
    </div>
    <div id="contracts_table" class="tab-pane">
        {% include 'client/client/client_contracts.html' %}
    </div>
</form>

{% endblock %}