<div id="contract_select_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select contract type</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-9">
                <select class="select form-control ignore_dirty" id="con-types">
                  {% for choice in contract_choices %}
                    <option value={{choice.0}}>{{choice.1}}</option>
                  {{choice}}
                  {% endfor %}%}
                </select>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>