{% extends 'base.html' %}
{% load common_extras %}
{% block title %}Client searching{% endblock %}

{% load staticfiles %}

<!--https://simpleisbetterthancomplex.com/2015/12/04/package-of-the-week-django-widget-tweaks.html-->
{% load widget_tweaks %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/client_search.css' %}" />
    {% include 'partials/django_tables2_css_includes.html' %}
    {% include 'partials/ajax_loading_css_includes.html' %}
{% endblock %}
{% block js %}
    {% include 'partials/ajax_loading_js_includes.html' %}
    {% include 'partials/datepicker_js_includes.html' %}
    {% include 'partials/django_tables2_js_includes.html' %}
    {% include 'partials/reporting_js_includes.html' %}
    {% if request.user|has_group:settings.JOB_COACH or request.user|has_group:settings.JOB_COACH_MAN or request.user|is_partner %}
        <script type="text/javascript" src="{% static 'js/client_search_as_partner.js' %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/client_search.js' %}"></script>
{% endblock %}

{% block content %}
  {% include 'partials/printing_block.html' %}
  <form method="get">
    <div class="well">
      <!--# if I change this then also change: /Users/stephenmcgonigal/django_projs/client/filters.py -->
      <div class="row">
        <div class="form-group col-sm-3">
          {{ filter.form.forename.label_tag }}
          {% render_field filter.form.forename class="form-control" %}
        </div>
        <div class="form-group col-sm-3">
          {{ filter.form.surname.label_tag }}
          {% render_field filter.form.surname class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.sex.label_tag }}
          {% render_field filter.form.sex class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.age.label_tag }}
          {% render_field filter.form.age class="form-control" %}
        </div>
        <div class="form-group col-sm-2">
          {{ filter.form.area.label_tag }}
          {% render_field filter.form.area class="form-control" %}
        </div>
      </div>
      {% if request.user|has_group:settings.JOB_COACH or request.user|has_group:settings.JOB_COACH_MAN %}
          <div class="row">
            <div class="form-group col-sm-3">
              {{ filter.form.job_coach.label_tag }}
              {% render_field filter.form.job_coach class="form-control" %}
            </div>
            <div class="form-group col-sm-3">
              {{ filter.form.contract_type.label_tag }}
              {% render_field filter.form.contract_type class="form-control" %}
            </div>
            <div class="form-group col-sm-3">
              {{ filter.form.contract_type_hist.label_tag }}
              {% render_field filter.form.contract_type_hist class="form-control" %}
            </div>
            <div class="form-group col-sm-3">
              {{ filter.form.contract_status.label_tag }}
              {% render_field filter.form.contract_status class="form-control" %}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
              {{ filter.form.modified_by.label_tag }}
              {% render_field filter.form.modified_by class="form-control" %}
            </div>
            <div class="form-group col-sm-3">
              {{ filter.form.modified_by.label_tag }}
              {% render_field filter.form.modified_by class="form-control" %}
            </div>
            <div class="form-group col-sm-3">
              {{ filter.form.modified_on.label_tag }}
              {% render_field filter.form.modified_on class="form-control datepicker" %}
            </div>
            <div class="form-group col-sm-3">
              {{ filter.form.contract_started.label_tag }}
              {% render_field filter.form.contract_started class="form-control datepicker" %}
            </div>
          </div>
          <button style="float:right;" type="button" onclick="javascript:window.location='{% url 'client_new' %}';" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Client
          </button>
       {% endif %}
      {% include 'partials/filter_buttons.html' %}
    </div>
  </form>
  <div class="row">
     <div class="col-sm-4">
         {% include 'client/client/client_search_actions.html' %}
     </div>
   </div>
  {% load render_table from django_tables2 %}
  <!--/Users/stephenmcgonigal/django_projs/common/templates/table_with_pagination.html-->
  {% render_table clients_table "table_with_pagination.html" %}
{% endblock %}