<div id="contract_select" class="well">
    <div class="row">
        <div class="col-sm-12">
            Please select a contract type then press create
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
        <select style="width:300px" class="select form-control ignore_dirty" id="con-types">
          {% for choice in contract_choices %}
            <option value={{choice.0}}>{{choice.1}}</option>
          {{choice}}
          {% endfor %}
        </select>
        </div>
        <div class="col-sm-4">
            <button disabled type="button" id="con-create" class="btn btn-success">Create Contract</button>
            <button type="button" id="con-cancel" class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>