{% extends 'base.html' %}
{% block title %}Client {{ client.get_full_name }} details{% endblock %}

{% block content %}
    <div class="client">
        <a class="btn btn-default" href="{% url 'client_edit' pk=client.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ client.title }} {{ client.ethnicity }} {{ client.changed_date }}</h1>
        <div>Dob: {{ client.dob }}</div>

        <ul>
        {% for note in client.note_set.all %}
           <li>{{ note.note }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}